@import "tailwindcss";

@theme {
  /* Paleta basada en tu ramo de flores */
  --color-boda-olivo-dark: #484d28;  /* Verde olivo profundo */
  --color-boda-olivo-light: #8b8429; /* Verde olivo cálido */
  --color-boda-taupe: #a6907c;       /* Marrón tierra */
  --color-boda-beige: #d2b993;       /* Beige lino */
  --color-boda-cream: #f9f8f4;       /* Blanco roto */
}

/* Estilos base opcionales para que todo el fondo tome el color crema por defecto */
@layer base {
  body {
    background-color: var(--color-boda-cream);
    color: var(--color-boda-taupe);
  }
}